<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>



</head>

<body>



	<div th:fragment="head">





		<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
			<defs>
				<symbol xmlns="http://www.w3.org/2000/svg" id="link" viewBox="0 0 24 24">
					<path fill="currentColor"
						d="M12 19a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm5 0a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm0-4a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm-5 0a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm7-12h-1V2a1 1 0 0 0-2 0v1H8V2a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3Zm1 17a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-9h16Zm0-11H4V6a1 1 0 0 1 1-1h1v1a1 1 0 0 0 2 0V5h8v1a1 1 0 0 0 2 0V5h1a1 1 0 0 1 1 1ZM7 15a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm0 4a1 1 0 1 0-1-1a1 1 0 0 0 1 1Z" />
				</symbol>
				<symbol xmlns="http://www.w3.org/2000/svg" id="arrow-right" viewBox="0 0 24 24">
					<path fill="currentColor"
						d="M17.92 11.62a1 1 0 0 0-.21-.33l-5-5a1 1 0 0 0-1.42 1.42l3.3 3.29H7a1 1 0 0 0 0 2h7.59l-3.3 3.29a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0l5-5a1 1 0 0 0 .21-.33a1 1 0 0 0 0-.76Z" />
				</symbol>
				<symbol xmlns="http://www.w3.org/2000/svg" id="category" viewBox="0 0 24 24">
					<path fill="currentColor"
						d="M19 5.5h-6.28l-.32-1a3 3 0 0 0-2.84-2H5a3 3 0 0 0-3 3v13a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3v-10a3 3 0 0 0-3-3Zm1 13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-13a1 1 0 0 1 1-1h4.56a1 1 0 0 1 .95.68l.54 1.64a1 1 0 0 0 .95.68h7a1 1 0 0 1 1 1Z" />
				</symbol>
				<symbol xmlns="http://www.w3.org/2000/svg" id="calendar" viewBox="0 0 24 24">
					<path fill="currentColor"
						d="M19 4h-2V3a1 1 0 0 0-2 0v1H9V3a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3Zm1 15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-7h16Zm0-9H4V7a1 1 0 0 1 1-1h2v1a1 1 0 0 0 2 0V6h6v1a1 1 0 0 0 2 0V6h2a1 1 0 0 1 1 1Z" />
				</symbol>
				<symbol xmlns="http://www.w3.org/2000/svg" id="heart" viewBox="0 0 24 24">
					<path fill="currentColor"
						d="M20.16 4.61A6.27 6.27 0 0 0 12 4a6.27 6.27 0 0 0-8.16 9.48l7.45 7.45a1 1 0 0 0 1.42 0l7.45-7.45a6.27 6.27 0 0 0 0-8.87Zm-1.41 7.46L12 18.81l-6.75-6.74a4.28 4.28 0 0 1 3-7.3a4.25 4.25 0 0 1 3 1.25a1 1 0 0 0 1.42 0a4.27 4.27 0 0 1 6 6.05Z" />
				</symbol>
				<symbol xmlns="http://www.w3.org/2000/svg" id="plus" viewBox="0 0 24 24">
					<path fill="currentColor"
						d="M19 11h-6V5a1 1 0 0 0-2 0v6H5a1 1 0 0 0 0 2h6v6a1 1 0 0 0 2 0v-6h6a1 1 0 0 0 0-2Z" />
				</symbol>
				<symbol xmlns="http://www.w3.org/2000/svg" id="minus" viewBox="0 0 24 24">
					<path fill="currentColor" d="M19 11H5a1 1 0 0 0 0 2h14a1 1 0 0 0 0-2Z" />
				</symbol>
				<symbol xmlns="http://www.w3.org/2000/svg" id="cart" viewBox="0 0 24 24">
					<path fill="currentColor"
						d="M8.5 19a1.5 1.5 0 1 0 1.5 1.5A1.5 1.5 0 0 0 8.5 19ZM19 16H7a1 1 0 0 1 0-2h8.491a3.013 3.013 0 0 0 2.885-2.176l1.585-5.55A1 1 0 0 0 19 5H6.74a3.007 3.007 0 0 0-2.82-2H3a1 1 0 0 0 0 2h.921a1.005 1.005 0 0 1 .962.725l.155.545v.005l1.641 5.742A3 3 0 0 0 7 18h12a1 1 0 0 0 0-2Zm-1.326-9l-1.22 4.274a1.005 1.005 0 0 1-.963.726H8.754l-.255-.892L7.326 7ZM16.5 19a1.5 1.5 0 1 0 1.5 1.5a1.5 1.5 0 0 0-1.5-1.5Z" />
				</symbol>
				<symbol xmlns="http://www.w3.org/2000/svg" id="check" viewBox="0 0 24 24">
					<path fill="currentColor"
						d="M18.71 7.21a1 1 0 0 0-1.42 0l-7.45 7.46l-3.13-3.14A1 1 0 1 0 5.29 13l3.84 3.84a1 1 0 0 0 1.42 0l8.16-8.16a1 1 0 0 0 0-1.47Z" />
				</symbol>
				<symbol xmlns="http://www.w3.org/2000/svg" id="trash" viewBox="0 0 24 24">
					<path fill="currentColor"
						d="M10 18a1 1 0 0 0 1-1v-6a1 1 0 0 0-2 0v6a1 1 0 0 0 1 1ZM20 6h-4V5a3 3 0 0 0-3-3h-2a3 3 0 0 0-3 3v1H4a1 1 0 0 0 0 2h1v11a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8h1a1 1 0 0 0 0-2ZM10 5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v1h-4Zm7 14a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V8h10Zm-3-1a1 1 0 0 0 1-1v-6a1 1 0 0 0-2 0v6a1 1 0 0 0 1 1Z" />
				</symbol>
				<symbol xmlns="http://www.w3.org/2000/svg" id="star-outline" viewBox="0 0 15 15">
					<path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
						d="M7.5 9.804L5.337 11l.413-2.533L4 6.674l2.418-.37L7.5 4l1.082 2.304l2.418.37l-1.75 1.793L9.663 11L7.5 9.804Z" />
				</symbol>
				<symbol xmlns="http://www.w3.org/2000/svg" id="star-solid" viewBox="0 0 15 15">
					<path fill="currentColor"
						d="M7.953 3.788a.5.5 0 0 0-.906 0L6.08 5.85l-2.154.33a.5.5 0 0 0-.283.843l1.574 1.613l-.373 2.284a.5.5 0 0 0 .736.518l1.92-1.063l1.921 1.063a.5.5 0 0 0 .736-.519l-.373-2.283l1.574-1.613a.5.5 0 0 0-.283-.844L8.921 5.85l-.968-2.062Z" />
				</symbol>
				<symbol xmlns="http://www.w3.org/2000/svg" id="search" viewBox="0 0 24 24">
					<path fill="currentColor"
						d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z" />
				</symbol>
				<symbol xmlns="http://www.w3.org/2000/svg" id="user" viewBox="0 0 24 24">
					<path fill="currentColor"
						d="M15.71 12.71a6 6 0 1 0-7.42 0a10 10 0 0 0-6.22 8.18a1 1 0 0 0 2 .22a8 8 0 0 1 15.9 0a1 1 0 0 0 1 .89h.11a1 1 0 0 0 .88-1.1a10 10 0 0 0-6.25-8.19ZM12 12a4 4 0 1 1 4-4a4 4 0 0 1-4 4Z" />
				</symbol>
				<symbol xmlns="http://www.w3.org/2000/svg" id="close" viewBox="0 0 15 15">
					<path fill="currentColor"
						d="M7.953 3.788a.5.5 0 0 0-.906 0L6.08 5.85l-2.154.33a.5.5 0 0 0-.283.843l1.574 1.613l-.373 2.284a.5.5 0 0 0 .736.518l1.92-1.063l1.921 1.063a.5.5 0 0 0 .736-.519l-.373-2.283l1.574-1.613a.5.5 0 0 0-.283-.844L8.921 5.85l-.968-2.062Z" />
				</symbol>
			</defs>
		</svg>

		<div class="preloader-wrapper">
			<div class="preloader">
			</div>
		</div>





		<header>
			<div class="container-fluid">
				<div class="row py-3 border-bottom">

					<div class="col-sm-4 col-lg-3 text-center text-sm-start">
						<div class="main-logo">
							<a href="/drivers/main">
								<img src="/images/logo.png" alt="logo" class="img-fluid">
							</a>
						</div>
					</div>



					<div class="col-sm-8 col-lg-4 d-flex justify-content-end gap-5 align-items-center mt-4 mt-sm-0 justify-content-center justify-content-sm-end"
						style="margin-left: auto ;">
						<div class="support-box text-end d-none d-xl-block">
							<span class="fs-6 text-muted">For Support?</span>
							<h5 class="mb-0">010-3410-7285</h5>
						</div>

						<ul class="d-flex justify-content-end list-unstyled m-0">

							<li>
								<a href="/members/logOut" class="rounded-circle bg-light p-2 mx-1">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
										class="bi bi-door-closed-fill" viewBox="0 0 16 16">
										<path
											d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
									</svg>
								</a>
							</li>
							<li>
								<a href="/drivers/dmypage" class="rounded-circle bg-light p-2 mx-1">
									<svg width="24" height="24" viewBox="0 0 24 24">
										<use xlink:href="#user"></use>
									</svg>
								</a>
							</li>
							<li>
								<button class="rounded-circle bg-light p-2 mx-1" type="button"
									data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
									aria-controls="offcanvasScrolling">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
										class="bi bi-chat-dots" viewBox="0 0 16 16">
										<path
											d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
										<path
											d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9 9 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.4 10.4 0 0 1-.524 2.318l-.003.011a11 11 0 0 1-.244.637c-.079.186.074.394.273.362a22 22 0 0 0 .693-.125m.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6-3.004 6-7 6a8 8 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a11 11 0 0 0 .398-2" />
									</svg>
								</button>
							</li>


						</ul>


						<div class="offcanvas offcanvas-end" style="width: 600px;" tabindex="-1" id="offcanvasScrolling"
							aria-labelledby="offcanvasScrollingLabel">
							<div class="offcanvas-header">
								<h5 class="offcanvas-title" id="offcanvasScrollingLabel">채팅</h5>
								<button type="button" class="btn-close" data-bs-dismiss="offcanvas"
									aria-label="Close"></button>
							</div>
							<div class="offcanvas-body" id="offcanvasContent">
								<div class="content">
									<h1 class="fw-bold"> 채팅</h1>

									<!-- 접속자 목록 -->
									<div class="border-bottom mb-3 p-2">
										<div class="fw-bold">접속 중인 회원</div>
										<div id="userList"></div>
									</div>

									<!-- 채팅 화면 -->
									<div id="chatView" class="border border-secondary"></div>

									<!-- 채팅 입력 -->
									<div id="chatInput" class="row gx-1">
										<div class="col-auto" id="sendTargetBox"></div>
										<div class="col input-group">
											<input class="form-control" onkeyup="sendChatMsg(event)" type="text"
												placeholder="메세지 입력...">
											<input type="file" class="form-control d-none" name="sendImgFile"
												id="sendImgFile" onchange="sendChatImg(this)">
											<label class="input-group-text" for="sendImgFile">이미지</label>
										</div>
									</div>

								</div>
							</div>
						</div>



						</ul>


					</div>

				</div>
			</div>

		</header>



	</div>


</body>

</html>