<!DOCTYPE html>
<html lang="ko">

<head>
	<title>home</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">


	<link rel="stylesheet" href="/css/headStyle.css" />

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/vendor.css">
	<!--<link rel="stylesheet" type="text/css" href="style.css">-->

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />	
</head>
<div th:replace="mhead :: head">
		</div>


		<section class="py-5">
				<div class="container-fluid">
					<div class="bg-secondary py-5 my-5 rounded-5"
						style="background: url('/images/bg-leaves-img-pattern.png') no-repeat;">
						<div class="container my-5">
							<div class="row justify-content-center"> <!-- 여기에서 가운데 정렬 -->
								<div class="col-md-6 p-5 w-50 col-12">
									<form method="post" action="/sellers/login" th:object="${sellerForm}">
										<div class="mb-3">
											<label for="name" class="form-label">Id</label>
											<input type="text" class="form-control form-control-lg" th:field="*{sid}" id="name"
												placeholder="Id">
										</div>
										<div class="mb-3">
											<label for="password" class="form-label">Password</label>
											<input type="password" class="form-control form-control-lg" th:field="*{spw}"
												id="password" placeholder="password">
										</div>
										<div class="d-grid gap-2">
											<button type="submit" class="btn btn-dark btn-lg">Submit</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
				</section>







<div th:replace="Footer::footer"></div>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
	crossorigin="anonymous"></script>
<script src="/js/plugins.js"></script>
<script src="/js/script.js"></script>
</body>

</html>